.start-screen {
  background-color: #404040;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 100vh;
  }
}

.start-label-box {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  bottom: 200px;
}

.startbtn {
  height: auto;
  width: 20vw;
  font-size: 32px;
  background-color: rgb(201, 12, 12);
  border: 2px solid black;
  border-radius: 8px;
  color: white;

  &:hover {
    filter: brightness(1.5);
    cursor: pointer;
  }
}
